* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Ubuntu:400');

@font-face {
    font-family: "stranger";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/455279/stranger.ttf") format("truetype");
}

html {
    background: linear-gradient(0deg, #050514, #30336b);
    overflow: hidden;
    height: 100%;
}

html body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.patch {
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 3vw;
    background-color: black;
    z-index: 2;
}

.patch:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 0;
}

.bottompatch {
    position: absolute;
    background-color: red;
    bottom: 0;
    left: 0;
}

.gravestones .cross {
    position: absolute;
    height: 28vh;
    width: 1.8vh;
    background-color: black;
    bottom: 0;
    z-index: 1;
}

.gravestones .cross:after {
    content: "";
    position: absolute;
    background-color: inherit;
    height: 1.8vh;
    width: 10vh;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}

.gravestones .cross:nth-child(1) {
    left: 20%;
}

.gravestones .cross:nth-child(2) {
    left: 70%;
    bottom: -4vh;
}

.gravestones .cross:nth-child(3) {
    left: 90%;
}

.msg {
    display: none;
    color: black;
    font-size: 6.2vh;
    font-family: "stranger", arial;
    position: absolute;
    bottom: 14vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.crypt {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 38vh;
    height: 40vh;
}

.crypt .roof {
    height: 10vh;
    width: 100%;
    background-color: black;
    -webkit-clip-path: polygon(21% 0%, 79% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(21% 0%, 79% 14%, 100% 100%, 0% 100%);
}

.crypt .body {
    width: 86%;
    height: 100%;
    background-color: black;
    margin: -1vh auto 0 auto;
}

.crypt .body .door {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotateZ(-3deg);
    width: 20%;
    height: 45%;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    background-color: black;
}

.fog {
    width: 40vh;
    height: 20vh;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: 0;
    z-index: 1;
    animation-name: fog;
    animation-iteration-count: infinite;
    animation-duration: 80s;
}

.moon {
    position: absolute;
    top: 8vh;
    right: 18vh;
    height: 20vh;
    width: 20vh;
    border-radius: 20vh;
    box-shadow: inset -2vh 0 0 #dfe6e9;
    transform: rotateZ(32deg);
}

.title {
    height: 65vh;
    margin: 0;
    position: absolute;
    left: 49%;
    bottom: -90vh;
    opacity: 0.1;
    transition: filter 3s;
    transform: translate(-50%, -50%) rotateZ(-4deg);
    font-family: "stranger", arial;
    font-size: 60vh;
    color: #dfe6e9;
    z-index: -10;
}

.life {
    opacity: 1;
    /* set final opacity state */
    transition: opacity 4s;
    animation-name: float, fadeOut;
    animation-iteration-count: 1, 1;
    /* both animations play once */
    animation-duration: 5s, 4s;
    animation-delay: 0s, 5s;
    animation-fill-mode: forwards;
    /* ensures the animation's end state remains */
}

.star {
    height: 1px;
    width: 1px;
    background-color: white;
    position: absolute;
    z-index: 0;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fog {
    0% {
        filter: blur(10vh);
        left: -9vw;
        transform: rotateZ(19deg);
    }

    50% {
        filter: blur(13vh);
        left: 109vw;
    }

    100% {
        filter: blur(10vh);
        left: 9vw;
        transform: rotateZ(-19deg);
    }
}

@keyframes float {
    0% {
        top: 45%;
    }

    50% {
        top: 46%;
    }

    100% {
        top: 45%;
    }
}

/* html {
    font-size: 100%;
}

/*16px*/

/* body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
}  */

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text_small {
    font-size: 0.8rem;
}


.background-image {
    background: url(https://png.pngtree.com/background/20210711/original/pngtree-scary-graveyard-in-the-woods---halloween-background-picture-image_1154763.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.transparent {
    background-color: rgba(255, 255, 254, 0.95);
    max-width: 100%;
    bottom: 0%;
    margin-left: 5%;
    margin-top: 10%;
    display: flex;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    justify-content: space-between;
}

/* .contact-list {
    flex: 1;
    padding: 20px;
} */

/* CONTACTS STYLING */
/* .contact {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.contact-info {
    flex-grow: 2;
}

.contact h2,
.contact h3 {
    margin: 5px 0;
} */


.contact-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color: #222;
    border-radius: 5px;
    border: 2px dashed #444;
    /* Dashed line gives a spooky feel */
    transition: all 0.3s ease;
}

.contact-card:hover {
    background-color: #311;
    /* Darker color on hover */
}

.contact-details h2,
.contact-details h3 {
    margin: 5px 0;
    color: #f5f5f5;
}

.name {
    font-size: 1.2em;
    color: #ff4500;
    /* Halloween orange */
}

.phone,
.email {
    font-size: 1em;
}

.custom-btn {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    background-color: #f5f5f5;
    color: #222;
    cursor: pointer;
    transition: all 0.3s ease;
}

.edit-btn:hover {
    background-color: #88aa44;
    /* Random green shade on hover for edit */
    color: #fff;
}

.delete-btn:hover {
    background-color: #ff4500;
    /* Halloween orange on hover for delete */
    color: #fff;
}

.custom-btn {
    padding: 7px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-contact {
    background-color: #2c98f0;
    color: #ffffff;
    margin-right: 10px;
}

.delete-contact {
    background-color: #e04f5f;
    color: #ffffff;
}

.custom-btn:hover {
    filter: brightness(0.9);
}

.contact-list h2 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.contact-list h3 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.contact-button {
    background-color: #7f5af0;
    /* Set the desired color */
    color: #fff;
    /* Text color */
    padding: 10px 20px;
    /* Adjust padding as needed */
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
}

/* Navbar */
li {
    list-style: none;

}

a {
    text-decoration: none;
    /* color: white; */
    font-size: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;
}

a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {

    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red */
    flex-wrap: wrap;
}

.icon-btn {
    margin-left: auto;
    /* Aligns the button to the right */
}

.container,
.wrap {
    flex: 1;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    font-weight: 500;
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Search Bar */
.search {
    width: 100%;
    position: relative;
    display: flex;


}

.searchTerm {
    width: 100%;
    border: 3px solid #4c2424;
    border-right: none;
    padding: 5px;

    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}

.searchTerm:focus {
    color: black;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #4c2424;
    background: #4c2424;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/* Add contact button */
.main-hr {
    width: 30%;
    border: none;
    border-top: 1px solid #c3c3c3;
}

.icon-btn {
    width: 47px;
    height: 35px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    margin-left: auto;
    /* Aligns the button to the right */
}

.add-btn:hover {
    width: 120px;
}

.add-btn::before,
.add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: #4c2424;
}

.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.icon-btn:focus {
    outline: none;
}

.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}

.add-btn:hover .btn-txt {
    opacity: 1;
}

.add-icon::after,
.add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: #4c2424;
    overflow: hidden;
}

.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.fa {
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .fa {
        font-size: 1em;
    }
}

/* Logout */
.logout-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2c2c2c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.4);
    width: 300px;
    text-align: center;
}

.logout-modal h3 {
    color: #ff6666;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.logout-modal p {
    color: #f1f1f1;
    margin-bottom: 20px;
    font-size: 18px;
}

.logout-modal .confirm-btn,
.logout-modal .cancel-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-modal .confirm-btn {
    background-color: #ff6666;
    color: #f1f1f1;
}

.logout-modal .cancel-btn {
    background-color: #4a4a4a;
    color: #e1e1e1;
}

.logout-modal .confirm-btn:hover {
    background-color: #ff3333;
}

.logout-modal .cancel-btn:hover {
    background-color: #595959;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .container,
    .wrap,
    .icon-btn {
        width: 100%;
        margin-bottom: 1rem;
        /* Adds some space between elements */
    }

    .search {
        width: 100%;
    }
}

/* IDK WHT THIS IS */
.action_btn {
    background-color: purple;
    color: yellow;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    -webkit-transition: scale 0.2 ease;
    -moz-transition: scale 0.2 ease;
    -ms-transition: scale 0.2 ease;
    -o-transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: pink;
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    /*hidesnavbar*/
    height: 0;
    width: 150px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 120px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* RESPONSIVE DESIGN */
@media(max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

}




/* HERO SECTION */


/* Backround Video */
video {
    z-index: -1000;
    width: 100vw;
    height: 100vh;
    position: absolute;
    transform: (-50%, -50%);
    -webkit-transform: (-50%, -50%);
    -moz-transform: (-50%, -50%);
    -ms-transform: (-50%, -50%);
    -o-transform: (-50%, -50%);
    object-fit: cover;
}

/* Log in / Register Pop Up  */

/* Log in Form */
.switch-form {
    text-align: center;
    margin-top: 15px;
}

.switch-form a {
    background-color: #4CAF50;
    /* Change this to your preferred color */
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.switch-form a:hover {
    background-color: #45a049;
    /* Darker shade of the original color */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.center button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.popup {
    position: fixed;
    /* changed from absolute to fixed for better positioning */
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    backdrop-filter: blur(1px);
    width: 80%;
    /* changed from 380px to 80% for better scaling on smaller screens */
    max-width: 380px;
    padding: 20px 30px;
    background: transparent;
    /* Adjusted for transparency */
    /* box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15); */
    border-radius: 10px;
    border: white solid 2px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}

.popup.active {
    /* top: 50%; */
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}



.popup .form h2 {
    text-align: center;
    color: white;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .form .form-element {
    margin: 15px 0px;
}

.popup .form .form-element label {
    font-size: 14px;
    color: white;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"],
.popup .form .form-element input[type="text"]:focus,
.popup .form .form-element input[type="password"]:focus {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    /* Remove standard border */
    border-bottom: 1px solid white;
    /* Add a bottom border only */
    border-radius: 0;
    /* Remove rounded corners for a cleaner look */
    background: transparent;
    /* Transparent background */
    color: white;
    /* Set text color to white for visibility */
}


.popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: blue;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup .form .form-element button:hover {
    background-color: darkblue;

}

.popup .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .popup {
        padding: 15px 20px;
        /* reduced padding for smaller screens */
    }

    .popup .form .form-element {
        margin: 10px 0px;
        /* reduced margin for smaller screens */
    }
}

.switch-form {
    color: white;
}


/* Register Form */
.popup1 {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    backdrop-filter: blur(1px);
    width: 80%;
    /* changed from 380px to 80% for better scaling on smaller screens */
    max-width: 380px;
    padding: 20px 30px;
    background: transparent;
    /* Adjusted for transparency */
    /* box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15); */
    border-radius: 10px;
    border: white solid 2px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}

.popup1.active {
    /* top: 50%; */
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}



.popup1 .form h2 {
    text-align: center;
    color: white;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup1 .form .form-element {
    margin: 15px 0px;
}

.popup1 .form .form-element label {
    font-size: 14px;
    color: white;
}

.popup1 .form .form-element input[type="text"],
.popup1 .form .form-element input[type="password"],
.popup1 .form .form-element input[type="text"]:focus,
.popup1 .form .form-element input[type="password"]:focus {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    /* Remove standard border */
    border-bottom: 1px solid white;
    /* Add a bottom border only */
    border-radius: 0;
    /* Remove rounded corners for a cleaner look */
    background: transparent;
    /* Transparent background */
    color: white;
    /* Set text color to white for visibility */
}


.popup1 .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: blue;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup1 .form .form-element button:hover {
    background-color: darkblue;

}

.popup1 .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 768px) {
    .popup1 {
        padding: 15px 20px;
        /* reduced padding for smaller screens */
    }

    .popup1 .form .form-element {
        margin: 10px 0px;
        /* reduced margin for smaller screens */
    }
}

.switch-form {
    color: white;
}


/* Add Contact Form */
.popup2 {
    position: fixed;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 80%;
    /* changed from 380px to 80% for better scaling on smaller screens */
    max-width: 380px;
    /* added max-width to retain your original design on larger screens */
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

    z-index: 1000;
}

.popup2.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}

.popup2 .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup2 .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup2 .form .form-element {
    margin: 15px 0px;
}

.popup2 .form .form-element label {
    font-size: 14px;
    color: #222;
}

.popup2 .form .form-element input[type="text"],
.popup2 .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup2 .form .form-element input[type="checkbox"] {
    margin-right: 5px;
}

.popup2 .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popup2 .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .popup2 {
        padding: 15px 20px;
        /* reduced padding for smaller screens */
    }

    .popup2 .form .form-element {
        margin: 10px 0px;
        /* reduced margin for smaller screens */
    }
}

/* Edit Contact Form */
.popup3 {
    position: fixed;
    /* changed from absolute to fixed for better positioning */
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 80%;
    /* changed from 380px to 80% for better scaling on smaller screens */
    max-width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;

    z-index: 1000;
    overflow-y: auto;
}

.popup3.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}

.popup3 .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup3 .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup3 .form .form-element {
    margin: 15px 0px;
}

.popup3 .form .form-element label {
    font-size: 14px;
    color: #222;
}

.popup3 .form .form-element input[type="text"],
.popup3 .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup3 .form .form-element input[type="checkbox"] {
    margin-right: 5px;
}

.popup3 .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popup3 .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 768px) {
    .popup3 {
        padding: 15px 20px;
        /* reduced padding for smaller screens */
    }

    .popup3 .form .form-element {
        margin: 10px 0px;
        /* reduced margin for smaller screens */
    }
}


/* button effects */
.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}



.custom-btn {
    width: 100px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    /* display: inline-block; */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* 15 */
.btn-15 {
    background: red;
    border: none;
    z-index: 1;
}

.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: orange;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.btn-15:hover {
    color: #fff;
}

.btn-15:hover:after {
    left: 0;
    width: 100%;
}

.btn-15:active {
    top: 2px;
}



/*Resize the wrap to see the search bar change!*/
.wrap {
    display: flex;
    flex-direction: row;
}

.view {
    display: flex;
    flex-direction: column;
}

#contact {
    width: 80%;
    margin: 10px auto;
    border: 1px solid rgb(168, 151, 151);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

#nameDisplay {
    font-weight: bolder;
}

#delete {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
    background: none;
    border: 1px solid #dc4545;
    color: #dc4545;
    border-radius: 5px;
}

#delete:hover {
    background-color: #dc4545;
    color: white;
    cursor: pointer;
}

/* .contact-list {

    backdrop-filter: blur(3px);
} */

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


.contact-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* This will create a responsive grid of cards */
    gap: 20px;
    /* Spacing between each grid item (contact-card) */
    padding: 20px;
    max-width: 1200px;
    /* To limit the maximum width */
    margin: 0 auto;
    /* To center the entire grid on wider screens */
}

.contact-card {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;

    /* Halloween touch: make the card slightly lift on hover */
    &:hover {
        transform: translateY(-10px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.contact {
    animation: fadeIn 0.5s ease-out;
}

.contact {
    padding: 15px;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    /* Slightly transparent background. */
}




/* Moving Skeleton*/

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

.halloween .head .skull:before,
.halloween .head .skull:after,
.halloween .eyes .eye:before,
.halloween .body:before,
.halloween .body:after,
.halloween .legs:before {
    content: '';
    position: absolute;
}

.halloween {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 44px;
    position: absolute;
    /* margin-top: -22px;
    margin-left: -15px; */
    animation: move 3s infinite;
}

.halloween .head {
    z-index: 1;
    width: 25px;
    height: 25px;
    background: #444;
    border-radius: 50%;
    position: relative;
}

.halloween .head .skull {
    left: 2px;
    bottom: 2px;
    width: 16px;
    height: 16px;
    color: #f9f9f9;
    border-radius: 50%;
    background: #f9f9f9;
    position: absolute;
    animation: skull 3s infinite;
}

.halloween .head .skull:before {
    top: 9px;
    width: 0;
    left: 50%;
    height: 0;
    z-index: 1;
    margin-left: -2px;
    border: 2px solid transparent;
    border-bottom: 2px solid #444;
}

.halloween .head .skull:after {
    top: 14px;
    left: 50%;
    width: 1px;
    height: 4px;
    margin-left: -1px;
    background: #f9f9f9;
    box-shadow: 2px 0, -2px 0, 4px 0, -4px 0,
        -3px -2px, -1px -2px, 1px -2px, 3px -2px
}

.halloween .eyes {
    width: inherit;
    height: inherit;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.halloween .eyes .eye {
    top: 5px;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 50%;
    background: #f8cd22;
    border: 1px solid #444;
    border-right: 2px solid #444;
}

.halloween .eyes .eye:before {
    top: -1px;
    left: -1px;
    width: 5px;
    height: 3px;
    background: #f9f9f9;
    border-radius: 5px 5px 0 0;
    animation: eyes 3s infinite;
}

.halloween .eyes .eye.eye-left {
    left: 1px;
}

.halloween .eyes .eye.eye-right {
    right: 1px;
}

.halloween .body {
    top: -3px;
    width: 24px;
    height: 17px;
    background: #444;
    position: relative;
    border-radius: 10px 10px 2px 2px;
}

.halloween .body:before,
.halloween .body:after {
    top: 3px;
    width: 4px;
    height: 12px;
    background: #444;
}

.halloween .body:before {
    left: -1px;
    border-radius: 100% 0 0 2px;
    transform: rotate(10deg);
    animation: hand-left 3s infinite;
}

.halloween .body:after {
    right: -1px;
    border-radius: 0 100% 2px 0;
    transform: rotate(-10deg);
    animation: hand-right 3s infinite;
}

.halloween .legs {
    top: -3px;
    left: 50%;
    width: 21px;
    height: 10px;
    overflow: hidden;
    margin-left: -13px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.halloween .legs:before {
    top: 0;
    left: -7px;
    width: 60px;
    height: 10px;
    background-image: linear-gradient(-495deg, #444 4px, transparent 0), linear-gradient(-45deg, transparent 4px, #444 0);
    background-size: 4px 8px;
    background-repeat: repeat-x;
    animation: legs 3s infinite;
}

@keyframes move {
    0% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(15px)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes skull {
    0% {
        transform: translate(0, 0)
    }

    25% {
        transform: translate(2px, 1px)
    }

    75% {
        transform: translate(3px, -1px)
    }

    100% {
        transform: translate(0, 0)
    }
}

@keyframes eyes {
    0% {
        top: -5px;
        border-radius: 50%;
    }

    50% {
        top: -1px;
        border-radius: 5px 5px 0 0;
    }

    100% {
        top: -5px;
        border-radius: 50%;
    }
}

@keyframes legs {
    0% {
        left: -7px;
    }

    50% {
        left: -25px;
    }

    100% {
        left: -7px;
    }
}

@keyframes hand-left {
    0% {
        left: 1px;
    }

    50% {
        left: -2px;
    }

    100% {
        left: 1px;
    }
}

@keyframes hand-right {
    0% {
        right: 1px;
    }

    50% {
        right: -2px;
    }

    100% {
        right: 1px;
    }
}

/* Button for username */
.userNameDisplay {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.userNameDisplay:hover {
    background-color: #555;
}

.social-container {
    position: relative;
    display: inline-block;
    width: 164px;
    height: 36px;
    perspective: 300px;
    font-size: 24px;
    margin: 8px;
}

.social-container .social-cube {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.333s;
    transform: translateZ(-18px);
}

.social-container .social-cube .front,
.social-container .social-cube .back,
.social-container:hover .social-cube .front {
    background: var(--color, #000);
}

.social-container .social-cube .bottom {
    background: var(--dark-color, #000);
}

.social-container:hover .social-cube .bottom {
    background: var(--color, #000);
}

.social-container .social-cube .front,
.social-container .social-cube .bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: background 0.333s;
}

.social-container .social-cube .front {
    transform: rotateX(0deg) translateZ(18px);
}

.social-container .social-cube .bottom {
    transform: rotateX(-90deg) translateZ(18px);
}

.social-container:hover .social-cube {
    transform: translateZ(-18px) rotateX(90deg);
}

.social-container.twitter .social-cube .front,
.social-container.twitter .social-cube .back,
.social-container.twitter:hover .social-cube .front {
    background: #4c2424;
}

.social-container.twitter .social-cube .bottom {
    background: #4c2424;
}

.social-container.twitter:hover .social-cube .bottom {
    background: #4c2424;
}